@import 'app/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

/** NAVBAR **/
.navbar{
  .navbar-header{
    float: none !important;

    .navbar-brand{
      float: left;
      padding: 15px 55px;
      font-size: 30px;
      line-height: 20px;
      height: 50px;
    }
  }

  .divider{
    margin: 20px 0px;
    border-bottom: 1px solid #ccc;
  }

  .nav-pills > li > a {
    font-size: 20px;
  }

  .nav-stacked > li + li {
    margin-top: 20px;
  }

  .glyphicon{
    font-size: 20px;
    padding-right: 20px;
  }
}
